/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1366px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #F0F0F0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 76px;
  width: 1289px;
  height: 71px;
  background-color: white;
}

.nav .nav__btn {
  width: 65px;
  background: url(./source/img/nav/btn.png) no-repeat center;
  border-right: 1px solid #F1F1F1;
  cursor: pointer;
}

.nav .nav__btn-files {
  width: 59px;
  height: 71px;
  background: url(../img/nav/files.png) no-repeat center;
  border-right: 1px solid #F1F1F1;
  cursor: pointer;
}

.nav .nav__btn-settings {
  width: 59px;
  height: 71px;
  background: url(../img/nav/settings.png) no-repeat center;
  border-right: 1px solid #F1F1F1;
  cursor: pointer;
}

.nav .nav__btn-send {
  width: 59px;
  height: 71px;
  background: url(../img/nav/send.png) no-repeat center;
  border-right: 1px solid #F1F1F1;
  cursor: pointer;
}

.nav .nav__btn-message {
  width: 59px;
  height: 71px;
  background: url(../img/nav/message.png) no-repeat center;
  border-right: 1px solid #F1F1F1;
  cursor: pointer;
}

.nav .nav__btn-internet {
  width: 59px;
  height: 71px;
  background: url(../img/nav/internet.png) no-repeat center;
  border-right: 1px solid #F1F1F1;
  cursor: pointer;
}

.nav .nav__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 673px;
  border-right: 1px solid #F1F1F1;
}

.nav .search__btn {
  width: 16px;
  height: 16px;
  background: url(../img/nav/nav-search.png) no-repeat center;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav .nav__search input {
  padding-left: 15px;
  width: 299px;
  height: 42px;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 400;
  border-radius: 42px;
  border: 1px solid #F4F4F4;
  background-color: #F0F0F0;
  color: #C8C8C8;
  outline: none;
  opacity: 1;
}

.nav .nav__search input .nav__search input:focus {
  width: 300px;
}

.nav .nav__search input .nav__search button {
  width: 42px;
  height: 42px;
}

.nav .nav__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.nav .profile__name {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd5f80), to(#FD7858));
  background-image: linear-gradient(to right, #fd5f80, #FD7858);
  margin: 22px 0px 0px 17px;
  font-family: 'Lato';
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  opacity: 1;
}

.nav .profile__desc {
  margin-left: 17px;
  margin-bottom: 21px;
  font-family: 'Lato';
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  color: #BFBFBF;
}

.nav .profile__settings {
  margin-top: 25px;
  margin-left: 49px;
  width: 5px;
  height: 18px;
  background: url(../img/nav/profile-settings.png) no-repeat center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 65px;
  width: 1300px;
  background-color: #FFFFFF;
  border-top: 1px solid #F1F1F1;
}

.header .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .list__item {
  padding: 20px 0px 22px 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .list__item__title {
  padding-bottom: 9px;
  font-family: "Lato";
  font-size: 14px;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  color: #777777;
}

.header .list__item__price {
  padding-bottom: 8px;
  font-family: "Lato";
  font-size: 20px;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd5f80), to(#FD7858));
  background-image: linear-gradient(to right, #fd5f80, #FD7858);
}

.header .list__item__statics {
  width: 88px;
  padding-top: 30px;
  font-family: "Lato";
  font-size: 15px;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd5f80), to(#FD7858));
  background-image: linear-gradient(to right, #fd5f80, #FD7858);
}

.header .list__item__description {
  margin-left: 10px;
}

.header .list__item__description--purple {
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 700;
  color: #BFBFBF;
  opacity: 1;
  position: relative;
}

.header .list__item__description--pink {
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 700;
  color: #BFBFBF;
  opacity: 1;
  position: relative;
  margin-left: 10px;
}

.header .list__item__description--purple::before {
  position: absolute;
  top: 6px;
  right: 30px;
  content: '';
  border-style: solid;
  border-width: 0 3px 5.5px 3px;
  border-color: transparent transparent #A889E9 transparent;
}

.header .list__item__description--pink::before {
  position: absolute;
  top: 4px;
  right: 29px;
  content: '';
  border-style: solid;
  border-width: 5.2px 3px 0 3px;
  border-color: #FD5670 transparent transparent transparent;
}

.sidebar {
  position: fixed;
  width: 74px;
  height: 1020px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fc896e), to(#fd5f80));
  background: linear-gradient(#fc896e, #fd5f80);
}

.sidebar__logo {
  padding-top: 20px;
  height: 70px;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 5px 0px 15px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 5px 0px 15px 2px rgba(34, 60, 80, 0.2);
}

.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .list__item {
  padding-top: 20px;
  list-style-type: none;
  cursor: pointer;
}

.sidebar .list__item:hover::before {
  position: absolute;
  content: "";
  display: inline-block;
  margin-top: 17px;
  margin-left: 73px;
  border-style: solid;
  border-width: 10px 0 10px 6px;
  border-color: transparent transparent transparent #fc896e;
}

.sidebar .item__img--home {
  margin-left: 26px;
  height: 20px;
  background: url(../img/sidebar/home.png) no-repeat;
}

.sidebar .item__img--statics {
  margin-left: 26px;
  height: 20px;
  background: url(../img/sidebar/chart-bar.png) no-repeat;
}

.sidebar .item__img--users {
  margin-left: 28px;
  height: 20px;
  background: url(../img/sidebar/users.png) no-repeat;
}

.sidebar .item__img--settings {
  margin-left: 26px;
  height: 20px;
  background: url(../img/sidebar/setting.png) no-repeat;
}

.sidebar .item__img--quires {
  margin-left: 26px;
  height: 20px;
  background: url(../img/sidebar/information.png) no-repeat;
}

.sidebar .item__img--exit {
  margin: 330px 0px 0px 26px;
  height: 20px;
  background: url(../img/sidebar/exit.png) no-repeat;
  cursor: pointer;
}

.sidebar .item__description {
  text-align: center;
  margin-top: 10px;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 19px 0px 0px 88px;
  width: 990px;
  height: 795px;
  background-color: #F0F0F0;
}

.main-content__revenue-progress {
  width: 704px;
  height: 266px;
  background-color: #FFFFFF;
}

.main-content__revenue-progress .revenue-progress__title {
  margin-right: 290px;
  font-family: "Lato";
  font-size: 14px;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  color: #777777;
}

.main-content__revenue-progress .revenue-progress__img-graph {
  margin: 31px 0px 0px 31px;
  height: 180px;
  background: url(../img/main/graph.png) no-repeat;
}

.main-content__revenue-progress .revenue-progress__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 31px;
}

.main-content__revenue-progress .revenue-progress__btn {
  font-family: 'Lato';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #BFBFBF;
  opacity: 1;
  margin-top: 11px;
  width: 50px;
  background: none;
  border: none;
  color: #BFBFBF;
  outline: none;
  cursor: pointer;
}

.main-content__revenue-progress .revenue-progress__btn:hover {
  font-family: 'Lato';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  opacity: 1;
  width: 68px;
  height: 25px;
  border-radius: 35%;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd5f80), to(#FD7858));
  background-image: linear-gradient(to right, #fd5f80, #FD7858);
}

.main-content__revenue-progress .revenue-progress__content-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 60px;
  width: 150px;
}

.main-content__revenue-progress .revenue-progress__vertical-btn {
  margin-top: 10px;
  margin-left: 22px;
  width: 6px;
  height: 18px;
  background: url(../img/main/vertical-btn.png) no-repeat;
  border: none;
  outline: none;
}

.main-content__revenue-pour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 264px;
  height: 266px;
  background-color: #FFFFFF;
}

.main-content__revenue-pour .revenue-pour__title {
  padding-top: 31px;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 700;
  color: #777777;
  opacity: 1;
}

.main-content__revenue-pour .revenue-por__progress-bar {
  width: 140px;
  height: 145px;
  background: url(../img/main/progress-bar.png) no-repeat;
}

.main-content__revenue-pour .revenue-pour__description {
  margin-bottom: 30px;
}

.main-content__revenue-pour .revenue-pour__description--triangle-purple {
  position: relative;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 700;
  color: #BFBFBF;
  opacity: 1;
}

.main-content__revenue-pour .revenue-pour__description--triangle-pink {
  position: relative;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 700;
  color: #BFBFBF;
  opacity: 1;
  margin-left: 10px;
}

.main-content__revenue-pour .revenue-pour__description--triangle-purple::before {
  position: absolute;
  top: 6px;
  right: 30px;
  content: '';
  border-style: solid;
  border-width: 0 3px 5.5px 3px;
  border-color: transparent transparent #A889E9 transparent;
}

.main-content__revenue-pour .revenue-pour__description--triangle-pink::before {
  position: absolute;
  top: 4px;
  right: 30px;
  content: '';
  border-style: solid;
  border-width: 5.5px 3px 0 3px;
  border-color: #FD5670 transparent transparent transparent;
}

.main-content__revenue-customers {
  margin-top: 20px;
  width: 467px;
  height: 508px;
  background-color: #FFFFFF;
}

.main-content__revenue-customers .revenue-customers__title {
  font-family: "Lato";
  font-size: 14px;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  color: #777777;
  margin-top: 31px;
  margin-left: 30px;
  margin-bottom: 39px;
}

.main-content__revenue-customers .revenue-customers__message-sophia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 29px;
  width: 408px;
  height: 84px;
}

.main-content__revenue-customers .revenue-customers__message-sophia .revenue-customers__message__description {
  margin-top: 13px;
  font-family: 'Lato';
  font-size: 8px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  color: #979796;
}

.main-content__revenue-customers .revenue-customers__message-sophia blockquote {
  padding: 21px 21px 18px 24px;
  margin-left: 20px;
  width: 348px;
  height: 84px;
  font-family: 'Lato';
  font-size: 12px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  color: #777777;
  border: 1px solid #F1F1F1;
  background-color: #FCFCFC;
}

.main-content__revenue-customers .revenue-customers__scroll-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19px;
  margin-left: 100px;
  width: 335px;
  height: 206px;
}

.main-content__revenue-customers .revenue-customers__scroll-message .scroll-message__line {
  width: 4px;
  height: 187px;
  background-color: #F1F1F1;
}

.main-content__revenue-customers .revenue-customers__scroll-message .scroll-message__blockquote {
  padding: 21px 21px 18px 20px;
  margin-left: 16px;
  margin-bottom: 19px;
  width: 321px;
  height: 84px;
  font-family: 'Lato';
  font-size: 12px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  color: #777777;
  border: 1px solid #F1F1F1;
  background-color: #FCFCFC;
}

.main-content__revenue-customers .scroll-message__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 316px;
}

.main-content__revenue-customers .scroll-message__name {
  font-weight: 900;
}

.main-content__revenue-customers .revenue-customers__message-peter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 19px;
  margin-left: 29px;
  width: 408px;
  height: 84px;
}

.main-content__revenue-customers .revenue-customers__message-peter .message__sophia__description {
  margin-top: 13px;
  font-family: 'Lato';
  font-size: 8px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  color: #979796;
}

.main-content__revenue-customers .revenue-customers__message-peter blockquote {
  padding: 21px 21px 18px 24px;
  margin-left: 20px;
  width: 348px;
  height: 84px;
  font-family: 'Lato';
  font-size: 12px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  color: #777777;
  border: 1px solid #F1F1F1;
  background-color: #FCFCFC;
}

.main-content__todays {
  margin-top: 20px;
  width: 501px;
  height: 245px;
  background: #FFFFFF;
  overflow-y: scroll;
}

.main-content__todays .todays__title {
  padding: 32px 0px 0px 31px;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: #777777;
  opacity: 1;
}

.main-content__todays .todays__list {
  padding: 35px 0px 0px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 440px;
  display: flex;
  list-style-type: none;
}

.main-content__todays .todays__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2px;
  height: 37px;
  border-top: 1px solid #EDEDED;
}

.main-content__todays .todays__subtitle {
  margin-left: 11px;
  width: 51px;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 900;
  text-align: left;
  color: #FD566F;
  opacity: 1;
}

.main-content__todays .todays__text {
  margin-left: 31px;
  width: 214px;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #BFBFBF;
  opacity: 1;
}

.main-content__todays .todys__img {
  margin-left: 35px;
  width: 12px;
  height: 12px;
  background: url(../img/main/time.png) no-repeat;
}

.main-content__todays .todays__time {
  width: 54px;
  margin-left: 9px;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #9C9C9C;
  opacity: 1;
}

.main-content .inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 18px;
}

.main-content .inner-container .inner-container__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 241px;
  height: 245px;
  background-color: #FFFFFF;
}

.main-content .inner-container .inner-container__progress .progress__description {
  margin-bottom: 23px;
}

.main-content .inner-container .inner-container__progress .progress__description--purple {
  position: relative;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 700;
  color: #BFBFBF;
  opacity: 1;
}

.main-content .inner-container .inner-container__progress .progress__description--pink {
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 700;
  color: #BFBFBF;
  opacity: 1;
  position: relative;
  margin-left: 10px;
}

.main-content .inner-container .inner-container__progress .progress__description--purple::before {
  position: absolute;
  top: 7px;
  right: 30px;
  content: '';
  border-style: solid;
  border-width: 0 3px 5.5px 3px;
  border-color: transparent transparent #A889E9 transparent;
}

.main-content .inner-container .inner-container__progress .progress__description--pink::before {
  position: absolute;
  right: 30px;
  top: 4px;
  content: '';
  border-style: solid;
  border-width: 5.2px 3px 0 3px;
  border-color: #FD5670 transparent transparent transparent;
}

.main-content .inner-container .progress__img {
  width: 170px;
  height: 105px;
  background: url(../img/main/vertical-progress.png) no-repeat;
}

.main-content .inner-container .progress__title {
  font-family: "Lato";
  font-size: 14px;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  color: #777777;
  margin-top: 31px;
}

.main-content .inner-container .progress__price {
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 900;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#708AE6), to(#8841AF));
  background-image: linear-gradient(to right, #708AE6, #8841AF);
  opacity: 1;
}

.main-content .inner-container .inner__container__progress-description {
  padding-bottom: 23px;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 700;
  color: #BFBFBF;
  opacity: 1;
}

.main-content .inner-container .inner-container__shipments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 241px;
  height: 245px;
  background-color: #FFFFFF;
}

.main-content .inner-container .inner-container__shipments .inner-container__shipments__title {
  font-family: "Lato";
  font-size: 14px;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  color: #777777;
  margin-top: 31px;
}

.main-content .inner-container .inner-container__shipments .inner-container__shipments__img {
  width: 170px;
  height: 105px;
  background: url(../img/main/map.png) no-repeat;
}

.main-content .inner-container .inner-container__shipments .inner-container__body-shepments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .inner-container .inner-container__shipments .inner-container__shipments-price {
  margin-right: 44px;
  margin-bottom: 24px;
  font-family: 'Lato';
  font-size: 20px;
  text-align: left;
  font-weight: 900;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#fd5f80), to(#FD7858));
  background-image: linear-gradient(to right, #fd5f80, #FD7858);
  opacity: 1;
}

.main-content .inner-container .inner-container__shipments .inner__container__shipments-description {
  padding-top: 4px;
}

.main-content .inner-container .inner-container__shipments .inner__container__shipments-description--purple {
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 700;
  color: #BFBFBF;
  opacity: 1;
  position: relative;
}

.main-content .inner-container .inner-container__shipments .inner__container__shipments-description--pink {
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 700;
  color: #BFBFBF;
  opacity: 1;
  position: relative;
  margin-left: 10px;
}

.main-content .inner-container .inner-container__shipments .inner__container__shipments-description--purple::before {
  position: absolute;
  top: 7px;
  right: 30px;
  content: '';
  border-style: solid;
  border-width: 0 3px 5.5px 3px;
  border-color: transparent transparent #A889E9 transparent;
}

.main-content .inner-container .inner-container__shipments .inner__container__shipments-description--pink:before {
  position: absolute;
  right: 30px;
  top: 4px;
  content: '';
  border-style: solid;
  border-width: 5.2px 3px 0 3px;
  border-color: #FD5670 transparent transparent transparent;
}

.aside__content {
  width: 273px;
  height: 612px;
  background-color: #FFFFFF;
}

.aside__content .aside__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 273px;
  height: 48px;
  list-style-type: none;
  background: -webkit-gradient(linear, left top, right top, from(#fd5f80), to(#fc896e));
  background: linear-gradient(90deg, #fd5f80 0%, #fc896e 100%);
}

.aside__content .button__users {
  position: relative;
  width: 91px;
  height: 48px;
  background: url(../img/aside/users.png) no-repeat center;
  cursor: pointer;
}

.aside__content .button__users:hover::before {
  content: '';
  position: absolute;
  top: 48px;
  left: 45.5px;
  border-style: solid;
  border-width: 6.4px 6px 0 6px;
  border-color: #C54556 transparent transparent transparent;
}

.aside__content .button__chat {
  position: relative;
  width: 91px;
  height: 48px;
  background: url(../img/aside/chat.png) no-repeat center;
  cursor: pointer;
}

.aside__content .button__chat:hover::before {
  content: '';
  position: absolute;
  top: 48px;
  left: 45.5px;
  border-style: solid;
  border-width: 6.4px 6px 0 6px;
  border-color: #C54556 transparent transparent transparent;
}

.aside__content .button__like {
  position: relative;
  width: 91px;
  height: 48px;
  background: url(../img/aside/like.png) no-repeat center;
  cursor: pointer;
}

.aside__content .button__like:hover::before {
  content: '';
  position: absolute;
  top: 48px;
  left: 45.5px;
  border-style: solid;
  border-width: 6.4px 6px 0 6px;
  border-color: #C54556 transparent transparent transparent;
}

.aside__content .friends__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 273px;
  height: 86px;
  cursor: pointer;
  border-bottom: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
}

.aside__content .friends__image {
  margin-left: 20px;
  width: 43px;
  height: 43px;
}

.aside__content .friends_scroll {
  width: 6px;
  height: 114px;
  color: #F1F1F1;
}

.aside__content .friends__item__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Lato';
  border-right: 1px solid #F1F1F1;
}

.aside__content .item__search input {
  margin: 17px 18px;
  width: 149px;
  font-size: 10px;
  font-weight: 400;
  list-style-type: none;
  color: #C0C0C0;
  background-color: #FCFCFC;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #F1F1F1;
  outline: none;
  opacity: 1;
}

.aside__content .item__search__btn-search {
  margin-top: 15px;
  margin-right: 20px;
  width: 19px;
  height: 19px;
  background: url(../img/aside/aside-search.png);
  border: none;
  outline: none;
  cursor: pointer;
}

.aside__content .item__search__btn-edit {
  width: 19px;
  height: 19px;
  background: url(../img/aside/edit.png);
  border: none;
  outline: none;
  cursor: pointer;
}

.aside__content .item__title {
  font-family: "Lato";
  font-size: 14px;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  color: #777777;
  margin-left: 16px;
  width: 116px;
}

.aside__content .item__description {
  margin-left: 16px;
  font-family: 'Lato';
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  color: #BFBFBF;
}

.aside__content .item_image {
  width: 91px;
  height: 48px;
  background: url(../img/aside/gray-chat.png) no-repeat center;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 273px;
  height: 229px;
  border-top: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
  background-color: #FFFFFF;
}

.footer__title {
  font-family: "Lato";
  font-size: 14px;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  color: #777777;
  padding-bottom: 29px;
}

.footer__social-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 192px;
}

.footer__social-icons-list .social-icons__list-item--orios {
  margin-bottom: 16px;
  padding: 16px 11px 14px 13px;
  width: 55px;
  height: 55px;
  list-style-type: none;
  background: -webkit-gradient(linear, right bottom, left top, from(#6B5EB4), to(#B879E2));
  background: linear-gradient(to top left, #6B5EB4, #B879E2);
  border-radius: 20%;
}

.footer__social-icons-list .social-icons__list-item--emmi {
  padding: 17px 14px 14px 15px;
  width: 55px;
  height: 55px;
  list-style-type: none;
  background: -webkit-gradient(linear, right bottom, left top, from(#4CBDC3), to(#58E6C7));
  background: linear-gradient(to top left, #4CBDC3, #58E6C7);
  border-radius: 20%;
}

.footer__social-icons-list .social-icons__list-item--deviantart {
  padding: 15px 18px 13px 20px;
  width: 55px;
  height: 55px;
  list-style-type: none;
  background: -webkit-gradient(linear, right bottom, left top, from(#B27079), to(#F3B89A));
  background: linear-gradient(to top left, #B27079, #F3B89A);
  border-radius: 20%;
}

.footer__social-icons-list .social-icons__list-item--xing {
  padding: 16px 15px 13px 16px;
  width: 55px;
  height: 55px;
  list-style-type: none;
  background: -webkit-gradient(linear, right bottom, left top, from(#8A4DB5), to(#798EE4));
  background: linear-gradient(to top left, #8A4DB5, #798EE4);
  border-radius: 20%;
}

.footer__social-icons-list .social-icons__list-item--vimeo {
  padding: 19px 15px 14px 14px;
  width: 55px;
  height: 55px;
  list-style-type: none;
  background: -webkit-gradient(linear, right bottom, left top, from(#558DE7), to(#5BD6E2));
  background: linear-gradient(to top left, #558DE7, #5BD6E2);
  border-radius: 20%;
}

.footer__social-icons-list .social-icons__list-item--vk {
  padding: 21px 13px 16px 12px;
  width: 55px;
  height: 55px;
  list-style-type: none;
  background: -webkit-gradient(linear, right bottom, left top, from(#F59283), to(#FBD68A));
  background: linear-gradient(to top left, #F59283, #FBD68A);
  border-radius: 20%;
}
/*# sourceMappingURL=main.css.map */