$primary-color: red;
$headercolor: #FFFFFF;
$main-contentcolor: #FFFFFF;
$main-backgroundcolor: #F0F0F0;
$sidebarcolor: gold;
$asidecolor: blue;
$font-familyLoto: 'Lato';
$list-item-title-color: #777777;
$heading-title-color: #777777;
$sidebar-description: #FFFFFF;
$header-description: #BFBFBF;
$todays-subtitlecolor: #FD566F;
$todays-text: #BFBFBF;
$todays-time: #9C9C9C;
$todays-linecolor: #EDEDED;
$line-blocks: #F1F1F1;
$revenue-btncolor: #BFBFBF;
$revenue-text-btncolor: #FFFFFF;
$inner-container-descriptioncolor: #BFBFBF;
$backgroundblockquote-color: #FCFCFC;
$aside-description-color: #BFBFBF;