.aside__content {
    width: 273px;
    height: 612px;
    background-color: #FFFFFF;

    .aside__buttons {
        display: flex;
        justify-content: space-between;
        width: 273px;
        height: 48px;
        list-style-type: none;
        background: linear-gradient(90deg,(#fd5f80) 0%, (#fc896e) 100%);
    }

    .button__users {
        position: relative;
        width: 91px;
        height: 48px;
        background: url(../img/aside/users.png) no-repeat center;
        cursor: pointer;
    }

    .button__users:hover::before {
        content: ''; 
        position: absolute;
        top: 48px;
        left: 45.5px;
        border-style: solid;
        border-width: 6.4px 6px 0 6px;
        border-color: #C54556 transparent transparent transparent;
    }

    .button__chat {
        position: relative;
        width: 91px;
        height: 48px;
        background: url(../img/aside/chat.png) no-repeat center;
        cursor: pointer;
    }

    .button__chat:hover::before {
        content: ''; 
        position: absolute;
        top: 48px;
        left: 45.5px;
        border-style: solid;
        border-width: 6.4px 6px 0 6px;
        border-color: #C54556 transparent transparent transparent;
    }

    .button__like {
        position: relative;
        width: 91px;
        height: 48px;
        background: url(../img/aside/like.png) no-repeat center;
        cursor: pointer;
    }

    .button__like:hover::before {
        content: ''; 
        position: absolute;
        top: 48px;
        left: 45.5px;
        border-style: solid;
        border-width: 6.4px 6px 0 6px;
        border-color: #C54556 transparent transparent transparent;
    }

    .friends__item {
        display: flex;
        align-items: center;
        width: 273px;
        height: 86px;
        cursor: pointer;
        border-bottom: 1px solid #F1F1F1;
        border-right: 1px solid #F1F1F1;
    }

    .friends__image {
        margin-left: 20px;
        width: 43px;
        height: 43px;
    }

    .friends_scroll {
        width: 6px;
        height: 114px;
        color: #F1F1F1;
    }

    .friends__item__search {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Lato';
        border-right: 1px solid #F1F1F1;
    }

    .item__search input {
        margin: 17px 18px;
        width: 149px;
        font-size: 10px;
        font-weight: 400;
        list-style-type: none;
        color: #C0C0C0;
        background-color: #FCFCFC;
        border-top: none;
        border-left: none;
        border-right: none;;
        border-bottom: 1px solid #F1F1F1;
        outline: none;
        opacity: 1;
    }

    .item__search__btn-search {
        margin-top: 15px;
        margin-right: 20px;
        width: 19px;
        height: 19px;
        background: url(../img/aside/aside-search.png);
        border: none;
        outline: none;
        cursor: pointer;
    }

    .item__search__btn-edit {
        width: 19px;
        height: 19px;
        background: url(../img/aside/edit.png);
        border: none;
        outline: none;
        cursor: pointer;
    }

    .item__title {
        @include heading-title;
        margin-left: 16px;
        width: 116px;
    }

    .item__description {
        margin-left: 16px;
        font-family: 'Lato';
        font-size: 10px;
        font-weight: 400;
        font-style: normal;
        color: $aside-description-color;
    }

    .item_image { 
        width: 91px;
        height: 48px;
        background: url(../img/aside/gray-chat.png) no-repeat center;
        cursor: pointer;
    }
}